.skill-page {

    display: flex-end;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--body_background);
    border: 2px solid chocolate;


}

.skill {
    margin-left: 40rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    top: -15rem;
}

h1 {
    margin-bottom: 40px;
    color: var(--body_color);
    font-family: 'Pacifico', cursive;

}



.skill-icon {
    color: var(--body_color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

}

.skill-bar {
    width: 300px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background-color: chocolate;
    animation: progress 2s ease-in-out;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.skill-par {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    color: var(--body_color);
    position: relative;
    top: 18rem;
    left: -30rem;


}

.ps {
    font-size: 2.4rem;
    line-height: 1.5rem;
}

p {
    font-size: 1.5rem;
}




@media (min-width : 500px) and (max-width : 750px) {
    .skill {
        position: relative;
        top: 4rem;


    }

    .skill h1 {
        display: none;
    }

    .skillpar p {
        font-size: medium;


    }


}

@media only screen and (max-width : 900px) {

    .skill-par {

        position: relative;
        left: -1rem;
        top: 2rem;

        padding-bottom: 10rem;

    }



    .skill {

        position: relative;
        right: 20rem;
        top: -8rem;


    }

    .skill h1 {
        font-size: 2rem;
    }

}


@media(min-width : 900px) and (max-width:2000px) {
    .skill-par {
        position: relative;
        left: 2rem;
        top: 4rem;
    }

    .skill {
        position: relative;
        left: -20rem;
        top: -2rem;

    }

}

@media (max-width :486px) {

    .skill {
        margin-left: 33rem;
        position: relative;
        top: -10rem;

    }

    .skill h1 {
        display: none;
    }

    .skill-par {
        margin-left: 3rem;
        margin-right: 2rem;
        font-size: larger;
    }

    .skill-par p {
        font-size: larger;
        line-height: 2rem;
    }

}

@media(max-width: 370px) {

    .skill {
        position: relative;
        right: 23.5rem;
        top: -10rem;
    }

    .skill-par {
        font-size: medium;
    }
}